.notification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 12rem;
  background: #ebebee;
  border-radius: 1rem;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #adbc9f, #436850, #12372a);
  /* --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff); */
  --color: #12372a;
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  /* background: #18181b; */
  background: #fff;
  z-index: 2;
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem);
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem);
}
.notification:hover .customButton {
  transform: translateX(0.25rem);
}

.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem);
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle closest-side at center,
    white,
    transparent
  );
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1;
}

.notification:hover .notiborderglow {
  opacity: 0.1;
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

.customButton {
  z-index: 99999;
  height: 40px;
  margin: 20px 20px;
  width: 110px;
  background: #adbc9f !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: #212121;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #12372a, #adbc9f);
  -webkit-box-shadow: -1px -5px 15px #436850, 2px 2px 10px #436850,
    inset 2px 2px 5px #adbc9f, inset -2px -2px 5px #adbc9f;
  box-shadow: -1px -2px 10px #436850, 2px 2px 10px #436850,
    inset 2px 2px 10px #adbc9f, inset -2px -2px 5px #adbc9f;
}

.customButton:hover {
  -webkit-box-shadow: 1px 1px 13px #436850, -1px -1px 13px #adbc9f;
  box-shadow: 1px 1px 13px #436850, -1px -1px 13px #adbc9f;
  color: #fbfada;
  -webkit-transition: 500ms;
  transition: 500ms;
  background: #12372a !important;
}

.customButton:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #12372a;
  -webkit-transition: 100ms;
  transition: 100ms;
}
