@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* styles/globals.css */
@font-face {
  font-family: 'Agustina Regular';
  src: url('/fonts/Agustina-Signature.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}

.agustina {
  font-family: 'Agustina Regular';
}
.nunito {
  font-family: 'Nunito';
}
