@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


:root {
  --dark: #2C3333;
  --light: #2E4F4F;
  --bright: #0E8388;
  --open-bright: #CBE4DE;
}

/* styles/globals.css */
@font-face {
  font-family: "Agustina Regular";
  src: url("/fonts/Agustina-Signature.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}

.agustina {
  font-family: "Agustina Regular";
}
.nunito {
  font-family: "Nunito", sans-serif !important;
}

body {
  background-color: var(--dark);
  color: var(--open-bright);
}
.slick-dots > * {
  margin: 0px !important;
}



::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, 
                                     40% 0%, 
                                     75% 84%, 
                                     from(#0E8388), 
                                     to(#2E4F4F), 
                                     color-stop(.6, #2E4F4F));
}
