@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* styles/globals.css */
@font-face {
  font-family: "Agustina Regular";
  src: url("/fonts/Agustina-Signature.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}

.agustina {
  font-family: "Agustina Regular";
}
.nunito {
  font-family: "Nunito", sans-serif !important;
}

.slick-dots > * {
  /* margin: 0 !important; */
  margin: 0px !important;
}



::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, 
                                     40% 0%, 
                                     75% 84%, 
                                     from(#436850), 
                                     to(#12372A), 
                                     color-stop(.6, #436850));
}
